<style>
  .box {
     float: left;
     width: 98%;
     margin-right: 0.5%;
     margin-left: 0.5%;
     padding: 2px;
     box-sizing: border-box;
  }
  .smallbox {
     float: left;
     width: 45%;
     padding: 1px;
     box-sizing: border-box;
  }
  .smallboxen {
     float: left;
     width: 38%;
     padding: 1px;
     box-sizing: border-box;
  }
  .casing {
     float: left;
     width: 100%;
  }
  .holeCasing {
     float: left;
     width: 40%;
     box-sizing: border-box;
  }
  .justCasing {
     float: left;
     width: 90%;
     box-sizing: border-box;
  }
  .just {
     float: left;
     width: 50%;
     box-sizing: border-box;
  }
</style>
<section class="holeCasing">
<h3>JTK (Aktuell)</h3>
<%= form_for @jtk do |f| %>
	<div class="smallbox">Subgruppe</div><div class"smallbox"><%= f.text_area :subgruppe%></div>
        <%= f.submit "Speichern" %>
<% end %>
</section>
